.movie__movies {
    display: flex;
}

.movie__movies-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 5rem;
}

.movie__movies-content__input{
    width: 50%;
    margin: 2rem 0 1rem;
    display: flex;
    
}

.movie__movies-content__input input{
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    background: var(--color-footer);
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.movie__movies-content__input button{
    flex: 0.10;
    width: 100%;
    min-height: 50px;
    background: var(--color-footer);
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 0 1rem;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.movie__movies-content h3{
    font-family: var(--font-family);
    font-size: 400;
    margin-top: 3rem;
}