.myList{
    display: flex;
}

.myList-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 5rem;
}

.myList-content button{
    background-color: #e91e63;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.myList-content h3{
    font-family: var(--font-family);
    font-size: 400;
    margin-top: 3rem;
}

.myList-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    
    border-radius: 5px;
}

