  :root {
    font-family: Arial, Helvetica, sans-serif;

    --color-bg: linear-gradient(to left top, #26083a, #21093a, #1c0a3a, #170b3a, #110b3a, #110b3a, #110b3a, #110b3a, #170b3a, #1c0a3a, #21093a, #26083a);
    --color-text: #81AFDD;
    --color-footer: #4a4e69;
    --color-blog: #9a8c98;
    --color-subtext: #FF8A71;
    --gradient-text: white;
  }
